.chat-container {
  /* max-width: 600px; */
  flex: 1;
  margin: 10px auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #676363;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 90vh;
}

.chat-container h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #e0f7fa;
}

.messages-list {
  list-style: none;
  padding: 0;
  margin: 0;
  flex: 1;
  overflow-y: auto;
}