.loading-text {
  text-align: center;
  margin-top: 50px;
}

.chat-wrapper {
  display: flex;
  gap: 16px;
}

.chatsList {
  flex: 0 0 20%;
  overflow-y: auto;
}

.chat-container {
  flex: 0 0 80%;
  display: flex;
  flex-direction: column;
}